* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #E4952E;
    --dark-color: #EE8F14;
    /* --primary-color: rgb(191, 241, 241); */
    --secondary-color: #F9EAD6;
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype'),

}

@font-face {
    font-family: ab;
    src: url('../fonts/Roboto/Roboto-VariableFot_wdth\,wght.ttf') format('truetype'),

}


body,
html {
    width: 100%;
    overflow-x: clip;
    font-size: 24px;
    background-color: var(--secondary-color);
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: roboto;
    padding: 1rem;
}

form {
    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 1.5rem;
    width: 30rem;
    height: 20rem;
    padding: 1.3rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

form h1 {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}


form .input {
    border: 2px solid var(--primary-color);
    background-color: white;
    display: flex;
    border-radius: 1rem;
    height: 2rem;
    align-items: center;
    padding: .1rem .6rem;
    column-gap: .8rem;
    width: 80%;
}

form .input i {
    color: var(--primary-color);
}

form input {
    font-size: .7rem;
    outline: none;
    border: none;
    background-color: transparent;
}


form button {
    width: fit-content;
    background-color: white;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    padding: .5rem .7rem;
    border-radius: 1rem;
    font-size: .75rem;
    transition: all .2s ease;
    margin-top: .6rem;

    &:hover {
        /* background-color: var(--primary-color);
        color: var(--secondary-color); */
        opacity: .9;
        cursor: pointer;
    }
}

form .text {
    text-align: center;
    margin-top: 1.7rem;
}

@media (max-width:600px) {
    body,html{
        font-size: 20px;
    }
    form{
        padding: 1.3rem 1rem;
    }
    form .input{
        width: 95%;
        border-radius: .5rem !important;
    }
    form button{
        border-radius: .5rem !important;

    }
}
@media (max-width:400px) {
    body,html{
        font-size: 18px;
    }
}